body{
    background-color:#dc143c
}
.container{
    width: 700px;
    margin:auto;
    background-color:white;
}
.header h1{
    font-size: 40px;
    margin-left: 20px;
}
.header ul li{
    display: inline-block;
    margin-left: 40px;
}
.cover{
    height: 500px;
    width: 500px;
    margin: auto;
    background-image: url(/img/impectaaa.jpg);
}
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: white;
    position: absolute;
    height:max-content;
    overflow: auto;
}
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}
  .sidebar a.active {
    background-color: #dc143c;
    color: white;
}
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
}
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
}
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
}
.home {
    margin-left: 200px;
}
.home h1{
    margin:auto;
}
.home h4{
    font-size: 15px;
    margin-left: 20px;
}
.home p{
    text-align: justify;
}
.pengurus{
    margin-left: 200px;
}
.aboutus{
    margin-left: 200px;
}
.contact{
    margin-left: 200px;
}
.contact h1{
    margin: auto;
    text-align: center;
}
.contact p{
    text-align: center;
    font-size: 15px;
    margin-top: 2px;
}
.copyright{
    background-color: crimson;
    text-align: center;
    color:white;
    margin-top: 20px;
    font-size: 15px;
}