body{
    background-color:crimson
}
.container{
    width: 700px;
    margin:auto;
    background-color:white;
}
.header h1{
    font-size: 40px;
    margin-left: 20px;
}
.header ul li{
    display: inline-block;
    margin-left: 40px;
}
.cover{
    height: 500px;
    width: 500px;
    margin: auto;
    background-image: url(/img/impectaaa.jpg);
}
.Home h1{
    margin:auto;
}
.Home h4{
    font-size: 15px;
    margin-left: 20px;
}
.Home p{
    text-align: justify;
}
.Contact h1{
    margin: auto;
    text-align: center;
}
.Contact p{
    text-align: center;
    font-size: 15px;
    margin-top: 2px;
}
.copyright{
    background-color: crimson;
    text-align: center;
    color:white;
    margin-top: 20px;
    font-size: 15px;
}